/* my styles */
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-width: 90vw;
  margin-top: 2%;
}
.content {
  flex-grow: 1;
}

button, .linkText{
  padding: 5px;;
  background: #4B2187;
  color: white;
  font-family: Federo;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 2px; 
  word-spacing: 4px;
  text-align: center;
  margin: 2%;
  border: 2px solid #4B2187;
}

.footer {
  font-size: 12px;
  text-align: center;
}

/* main landing page content */
.main {
  display: flex;
  vertical-align: bottom;
  justify-content: space-around;
}

#heading {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

#mainTitle {
  align-self: flex-end;
  padding-bottom: 5%;
}

#mainTitle p {
  max-width: 500px;
}

#mainTitle h1 {
  margin-bottom: 100px;
  font-size: 55px;
}

#headingButtons {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

#headingNav {
  display: flex;
  justify-content: space-around;
  width: 550px;
}

#headingNav a {
  text-decoration: none;
}

.container {
  text-align: center;
}
