/* global layout */
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-width: 95vw;
  /* margin-top: 1%; */
}
.content {
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
}
/* button and link styling */
button, .linkText{
  padding: 8px;
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  letter-spacing: 2px; 
  word-spacing: 4px;
  text-align: center;
  margin: 2%;
  /* border: 2px solid #4B2187; */
  text-decoration: none;
  cursor: pointer;
}

button.deleteButton {
  background-color: darkred;
  font-size: 12px;
  padding: 6px;
  letter-spacing: 1px; 
}

button.editButton {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 6px;
  letter-spacing: 1px; 
}

.footer {
  font-size: 12px;
  text-align: center;
}

/* main landing page content */
.main {
  display: flex;
  vertical-align: bottom;
  justify-content: space-around;
}

#heading {
  display: flex;
  justify-content: space-around;
  height: 70px;
  margin-top: 1%;
}

#mainTitle {
  align-self: flex-end;
  padding-bottom: 5%;
}

#mainTitle p {
  max-width: 500px;
}

#mainTitle h1 {
  margin-bottom: 100px;
  font-size: 55px;
}

#headingButtons {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

#headingNav {
  display: flex;
  justify-content: space-around;
  width: 550px;
}

#headingNav a {
  text-decoration: none;
}

.container {
  text-align: center;
}

/* Dashboard layout*/
/* top */
#topNav {
  background-color: lightsteelblue;
  padding: 1%;
}
#logoutLink {
  float: right;
  top: 10px;
}

/* left side on small screen */
#sideNav {
  padding: 3%;
  background-color: lightsteelblue;
}
#sideNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



@media screen and (min-width: 1000px) {
  #dashboard {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      'topNav topNav topNav topNav topNav topNav'
      'sideNav stats stats stats stats stats'
      'sideNav data data data data data'
  }
  /* top */
  #topNav {
    grid-area: topNav;
  }
  /* left side */
  #sideNav {
    grid-area: sideNav;
    padding: 3%;
    background-color: lightsteelblue;
  }
  #sideNav ul {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
  }

  /* section#sideNav ul li a.linkText{
    min-width: 100px;
  } */

  /* main, central content */
  #stats {
    grid-area: stats;
    padding: 3%;
    background-color: lightgray;
    margin: 1% 0 0 1%;
  }

  #data {
    grid-area: data;
    border: 1px solid black;
    padding: 3%;
    margin: 1% 0 0 1%;
    /* min-height: 200px; */
  }
}

/* table styles */
.responsiveTable{
  overflow-x:auto;
}
table {
  border: solid 1px;
  background-color: #747577;
  color: white;
  width: 100%;
}

/* condense table contents when viewed on smaller screen */
@media screen and (max-width: 700px) {
  table{
    font-size: 10px;
  }
  th, td {
    padding: 0px;
  }
}

th, td {
  padding: 10px;
  text-align: center;
}

/* tab styles */
.tab-list {
  margin-left: 1px;
}
.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #747577;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: #747577;
  color: #ffffff;
}